<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitism.poshan">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.AddLSActivity"
            android:label="Add LS"></activity>
        <activity
            android:name=".LoginCheckerActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MTC.MTCProfileActivity" />
        <activity android:name=".Admin.AdminProfileActivity" />
        <activity android:name=".LS.LSWaitingList" />
        <activity android:name=".Admin.GraphActivity" />
        <activity android:name=".Admin.AddMTCCenter"
            android:label="ADD MTC Center"/>
        <activity android:name=".MTC.MTCUpdateDailyDetails"
            android:label="Enter Daily Updates"/>
        <activity
            android:name=".MTC.MTCMainActivity"
            android:label="@string/title_activity_mtcmain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MTC.SAMDialog" />
        <activity android:name=".Admin.MTCCentersActivity"
            android:label="MTC Centers"/>
        <activity android:name=".Admin.AdminLSDetailActivity" />
        <activity
            android:name=".Admin.AdminMTCCenterAnalysis"
            android:label="MTC Center Analysis"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Admin.AdminMainActivity"
            android:label="@string/title_activity_admin_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LS.LSEditChildDetailsActivity" />
        <activity android:name=".LS.LSProfileActivity" />
        <activity
            android:name=".LS.LSUnderTreatmentActivity"
            android:label="Under treatment" />
        <activity
            android:name=".LS.LSAddChildDetailsActivity"
            android:label="Add Child Details" />
        <activity
            android:name=".LS.LSMainActivity"
            android:label="@string/title_activity_lsmain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LS.LSLoginActivity"></activity>
        <activity android:name=".MTC.MTCLoginActivity" />
        <activity android:name=".Admin.AdminLoginActivity" />
    </application>

</manifest>